<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Archive</title>
</head>
<body>
<h1>Archive of measurements</h1>
<br><br>
<table border="1">
    <thead>
    <tr>
        <th>Location</th>
        <th>Temperature</th>
        <th>Pressure</th>
        <th>Sunshine</th>
        <th>Rainfall</th>
        <th>WindSpeed</th>
        <th>WindDirection</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="WeatherStation: ${wstations}">
        <td th:text="${WeatherStation.getLocation()}"> Rome </td>
        <td th:text="${WeatherStation.getTemperature()}"> <b>10 </b></td>
        <td th:text="${WeatherStation.getPressure()}"> Rome </td>
        <td th:text="${WeatherStation.getSunshine()}"> <b>10 </b></td>
        <td th:text="${WeatherStation.getRainfall()}"> Rome </td>
        <td th:text="${WeatherStation.getWindSpeed()}"> <b>10 </b></td>
        <td th:text="${WeatherStation.getWindDirection()}"> Rome </td>
    </tr>
    </tbody>
</table>
<a href="home">Go back</a>
</body>
</html>