<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Weather stations control program</title>
</head>
<body>
    <h1>Welcome to the weather station control system. Please log in:</h1><br>
    <form action="create" method="post">
        ID:<input type="text" name="id"><br>
        Password:<input type="text" name="password"><br>
        <input type="submit" value="Login"/>
    </form>

    <a href="registration"> No account? Sign up </a><br>
    <a href="home2"> Login as guest </a>
</body>
</html>